<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-/Apple Computer/DTD PLIST 1.0/EN"
                       "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleName</key>
    <string>Stereoscope Player</string>
    <key>CFBundleShortVersionString</key>
    <string>1.1</string>
    <key>CFBundleAllowMixedLocalizations</key>
    <string>false</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleExecutable</key>
    <string>BlinkensenderStub</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleIconFile</key>
    <string>Blinkensender.icns</string>
    <key>CFBundleDocumentTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeName</key>
        <string>Blinkenlights Movie</string>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleTypeIconFile</key>
        <string>BML.icns</string>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>bml</string>
        </array>
			<key>LSItemContentTypes</key>
			<array>
				<string>net.blinkenlights.movie.bml</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
      </dict>
    </array>
    <key>Java</key>
    <dict>
      <key>MainClass</key>
      <string>de.blinkenlights.sender.Sender</string>
      <key>JVMVersion</key>
      <string>1.5+</string>
      <key>ClassPath</key>
      <array>
        <string>$JAVAROOT/bmix.jar</string>
      </array>
      <key>VMOptions</key>
      <string>-Xmx256m</string>
    </dict>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.xml</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Blinkenlights Movie</string>
			<key>UTTypeIconFile</key>
			<string>BML.icns</string>
			<key>UTTypeIdentifier</key>
			<string>net.blinkenlights.movie.bml</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>bml</string>
			</dict>
      <key>UTTypeReferenceURL</key>
      <string>http://blinkenlights.net/project/bml</string>
		</dict>
	</array>
  </dict>
</plist>
